@import './../../colors.scss';
@import './../../App.scss';

.cart_products{
  padding: 3% 23%;
}

.editable-cell {
    position: relative;
  }
  
.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}
  
.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.buttons{
  margin: 4%;
}

.clear_button {
  margin: 1%;
}

.create_button {
  margin: 1%;
}

.table_cart {
  border-radius: 6px;
  @extend %borders;
}

.clear_button {
  @extend %clear_btn;
}

.create_button {
  @extend %create_btn;
}

.delete_button {
  @extend %clear_btn;
}

.check_svg {
  color: $aqua !important;
}