@import './../../colors.scss';
@import './../../App.scss';
// @extend './../../App.scss;'

.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:3%;
}

.title {
    text-align: center;
    color: $pink;
    text-decoration-line: overline;

}

.product_name {
    color: $pink;
}

//TODO: change properties inside className, not in the jsx
.site-button-ghost-wrapper{
    color: aquamarine;
}

.search_price {
    color: $gray;
}

.search_price_text {
    padding: 5% 3%;
    width: 240;
    color: 'red';
    background: '#d4adcf';
}

.search_text:hover {
    box-shadow: 0 0 4px $aqua;
}
.ant_icon:hover {
    box-shadow: 0 0 4px $aqua;
}

.p {
    color: #0f1111;
}

.card {
    background-color: $violet;
    width: 240px;
    @extend %borders;
}
