@import './../../colors.scss';
@import './../../App.scss';
// @extend './../../App.scss;'

.products_search{
    margin: 0 20%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
    font-size: 18px;

    .price .slider {
        width: 160px;
    }
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 90%;
    margin: auto;
}

.title {
    text-align: center;
    color: $pink;
    text-decoration-line: overline;

}

.product {;
    text-align: center;
    margin-bottom: 2%;
    .name {
        font-size: 140%;
    }

    .price {
        font-size: large;
        margin-bottom: 10px;
    }
}

.site-button-ghost-wrapper{
    color: aquamarine;
}

.search_text{
    @extend %text;
}

.search_text:hover {
    box-shadow: 0 0 4px $aqua;
}
.ant_icon:hover {
    box-shadow: 0 0 4px $aqua;
}

.ant-slider-track.ant-slider-track-1{
    background-color: $violet
}

.ant-slider-track {
    background-color: $blue_link !important;
}

.card {
    background-color: $violet;
    width: 220px;

    .ant-card-body {
        a, button {
            
            border: 1px solid $white;
            color: $white;
            padding: 5px;
            border-radius: 5px;
            height: fit-content;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                background-color: #c5bcfa;
            }
        }

        .buttons_delete_update {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;

            a, button {
                font-size: 10px;
            }
        }
    }
}

.ant-slider-handle::after {
    background-color: $blue_link !important;
    box-shadow: 0 0 0 2px $violet !important;
}

.ant-card-head-title{
    color: $orange;
}



.update_button{
    @extend %create_btn;
}

.delete_svg{
    color: $garnet !important;
}

.redo_svg{
    color: $aqua !important;
}

