@import './../../colors.scss';

$padding_menu: 0 1.5%;

.header_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // padding: 10px;
    // margin-top: 50px;
    z-index:10;
}

.container_header_title{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-items:unset;
  align-content:center;
  background-color: $pink;
  padding: 15px;
}

.header_title{
  order:0;
  flex:0 0 auto;
  align-self:auto;
  height:20%;
  width:auto;
  // font-size:2vw
}

// .headerTitle{
//   height: 50px;
//   text-align: center;
//     display:flex;
//     flex-direction:row;
//     flex-wrap:wrap;
//     justify-content:center;
//     align-items:unset;
//     align-content:flex-start;
//     // height:100vh; /*Este valor lo puedes omitir si la altura de tu componente esta definida*/
//     background-color: $pink;

    
//   }

  .loggedInMenu{
    background-color: $aqua
  }

  .unloggedMenu{
    background-color: $pink
  }

.user_icon {
  size: 1px;
  color: $orange;
}

.home_svg {
  padding: $padding_menu;
}

.register_svg {
  padding: $padding_menu;
}

.login_svg {
  padding: $padding_menu;
}

.logout_svg {
  padding: $padding_menu;
}

.headerCart {
  padding: $padding_menu ;
}

sup.ant-scroll-number.ant-badge-count{background-color: $pink !important;}