@import './../../colors.scss';

$padding_menu: 0 1.5%;


.header_nav {
  position: sticky;
  top: 0;
  z-index:10;
}

.header_title{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-items:unset;
  align-content:center;
  background-color: $pink;
  padding: 10px 0;
  height: 40px;
  font-size:1.2em;
  font-weight: bold;
}

  .loggedInMenu{
    background-color: $aqua
  }

  .unloggedMenu{
    background-color: $pink
  }

.user_icon {
  size: 1px;
  color: $orange;
}

.menu {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.menu > span {
 a {
  padding:  5px;
  border-radius: 5px;
  border: 1px solid;
  line-height: 18px;
  
  font-size: 14px;
  background-color: #adebef;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    box-shadow: 2px 3px 5px 1px rgba(124,198,202,0.8);
  }
}
}


sup.ant-scroll-number.ant-badge-count{background-color: $pink !important;}