@import './../../colors.scss';

.register_container{
    padding: 3% 23%;
}

.form {
    max-width: 600;
}

.bday_picker {
    display:block;
}

.button {
    padding: 3% 23%;
}

.btn {
    padding: 3% 34%;
    background-color: $blue_link;

}