@import './../../colors.scss';
@import './../../App.scss';

.register_container{
    padding: 3% 23%;
}

.form {
    max-width: 600;
}

.bday_picker {
    display:block;
}

.create_button {
    @extend %create_btn;
}

.anticon.ant-input-password-icon {
    color: $blue_link !important;}