@import './../../colors.scss';

.footer {
  width: 100%;
  background-color: $orange;
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin-top: auto;
  color: chocolate;
  font-weight: 500;
  div {
    padding: 10px;
  }
}
