@import './../../colors.scss';

.footer_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index:10;
  background-color: $orange;
  border: 2px black solid;
}

.loggedInMenu{
  background-color: $green
}

.unloggedMenu{
  background-color: $magenta
}