/*=======================
      Pa:
=======================*/

// @extend compartir un conjunto de propiedades CSS de un selector a otro. d12
@import 'colors';
// @import '~antd/dist/antd.less';
* {
  margin: 0;
  padding: 0;
}
#main {
  padding-top: 109px;
  padding-bottom: 86px;
  align-items: center;
  width: 100%;
}
/* Pa */

#root {
  text-align: center;
}

.App {
  padding-top: 109px;
  padding-bottom: 86px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

%text {
  color: $dark_gray;
  line-height: 1%;
  text-align: center;
  text-decoration: none;

}

%list {
  list-style: square;
  margin-left: 30%;
}

%borders {
  border: 1px solid $pink;
  box-shadow: 5px 10px $cloud;
  border-block-end: 1px solid $dark_gray;
  margin: 1%;
}

%clear_btn {
  background-color: $garnet;
}

%create_btn{
  background-color: $blue_link;
  padding: 3% 34%;
}

h3 {
  color: $garnet;
}

.anticon {
  color: $blue_link;
  text-align: center;
  font-size: 22px;
}

.ant-list-item {
  color: $dark_gray !important;
}

.ant-table-cell {
  color: $dark_gray !important;
}

.read-the-docs {
  color: #888;
}

/*=======================
      Pa:
=======================*/

/*=======================
      768
=======================*/
@media screen and (min-width: 768px){
  .boxes {
      width: 80%;
  }
}
/* 768 */

/*=======================
      992
==========================*/
@media screen and (min-width: 992px){
  .boxes{
      width: 49%;
      display: inline-block;
      box-sizing: border-box;
      margin-right: 1%;
  }
}
/* 992 */

/*=======================
      1200
==========================*/
@media screen and (min-width: 1200px){
  .boxes{
      width: 32%;
      display: inline-block;
      margin-right: 2%;
  }
}
/* 1200 */