/*=======================
      Pa:
=======================*/

// @extend compartir un conjunto de propiedades CSS de un selector a otro. d12
@import 'colors';
// @import '~antd/dist/antd.less';
* {
  margin: 0;
  padding: 0;
}
main {
  align-items: center;
  width: 100%;
}
/* Pa */

#root {
  max-width: 1280px;
  // margin: 0 auto;
  // padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*=======================
      Pa:
=======================*/

/*=======================
      768
=======================*/
@media screen and (min-width: 768px){
  .boxes {
      width: 80%;
  }
}
/* 768 */

/*=======================
      992
==========================*/
@media screen and (min-width: 992px){
  .boxes{
      width: 49%;
      display: inline-block;
      box-sizing: border-box;
      margin-right: 1%;
  }
}
/* 992 */

/*=======================
      1200
==========================*/
@media screen and (min-width: 1200px){
  .boxes{
      width: 32%;
      display: inline-block;
      margin-right: 2%;
  }
}
/* 1200 */