$white: #FEFCFF;
$blue_link: #646cff;

$gray: #c1cad6;
$violet: #d4adcf;
$garnet: #f26a8d;
$gum: #f49cbb;
$cloud: #cbeef3;



$green: #40E0D0;
$orange: #FF8C00;
$magenta: #FF0080;
//https://www.color-hex.com/color-palette/19639