$white: #FEFCFF;
$blue_link: #646cff;
$dark_gray: #0f1111;

$gray: #c1cad6;
$garnet: #f26a8d;

$lime: #F1F7B5;
$cloud: #DFFDFF;
$violet: #BDB2FF;

$aqua: #97ECF1;
$orange: #FEC868;
$pink: #FAD1FA;
//https://www.color-hex.com/color-palette/19639